body {
    background-color: #fff;
    color: #5b5b5b;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Oswald, Helvetica, Arial, sans-serif;
}

h2 {
    text-decoration: overline;
    font-size: 2.5em;
}

/* Apply to bolded parts of h1 only */
h1 b {
    letter-spacing: 0.05em;
    text-decoration: underline;
    color: #e0c898;
}

h1 {
    font-size: 5em;
}

p {
    font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
    font-size: 1.25em;
}

.section-white {
    margin: 0;
    padding-top: 1em;
    margin-bottom: 3em;
}

.section-grey {
    background-color: #f6f5f3;
    margin: 0;
    padding-top: 1em;
}

/* Flip main image on small screens
not needed
@media only screen and (max-width: 755px) {
    .side-image img {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
*/

/* Force menu font change to fit in one line on small screens
    #site-navigation{
        font-size: 1.25rem !important;
    }
}
*/

/* Shift all content blocks to middle of the screen */
.content {
    max-width: 860px;
    margin: auto;
}

/* Main menu styling */
#site-navigation {
    background-color: #e0c898;
    position: fixed;
    bottom: auto;
    width: 100%;
    line-height: 1.5;
    font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    padding-top: 0.5em;
    z-index: 7;
}

/* Change the ul to show in one row via display:
Remove bullet points via list-style-type */
.nav-menu-item {
    display: inline-block;
    list-style-type: none;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-right: 0.5em;
}

/* Add padding to all menu items except first */
.nav-menu-item:not(#menu-item-1) {
    padding-left: 0.5em;
}

/* Remove default padding from ul, ol for nav menu */
#main-navigation {
    display: block;
    padding-left: 0;
}

.nav-menu-item a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.nav-menu-item a:hover {
    text-decoration: underline;
}

/* Set spacing between nav menu and other content */
#first-section {
    position: relative;
    padding-top: 9.125em;
    padding-bottom: 3.125em;
}

/* make sure first-frame content is displayed on the same line and centered
wrap content if screen size is too small, add spacing with border-box*/
#first-frame {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
}

/* Set spacing between text and side image */
#first-frame h1 {
    margin-right: auto;
}

.side-image img {
    width: 375px;
}

#resource-header, #sins-header {
    font-size: 4.25em
}

/* Call to action button style */
.cta-btn {
    background-color: #e0c898;
    color: #fff;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem 0.375rem 0.75rem;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    text-decoration: none;
}

.cta-btn:hover {
    background-color: #98b0e0;
    color: #fff;
}

#menu-item-lights {
    float: right;
}

.footer {
    width: 100%;
    font-family: inherit;
    font-size: 1rem;
    color: #d7d7d7;
    line-height: 1.5;
    background-color: #4e5970;
    margin-top: 4em;
    padding-top: 1.5em;
    padding-bottom: 3em;
}

.footer a {
    text-decoration: none;
    color: #d7d7d7;
}

.footer a:hover {
    text-decoration: underline;
}

/* Bootstrap carousel adjustments */

.carousel-control-prev {
    margin-left: -25px;
}

.carousel-control-next {
    margin-right: -25px;
}

#carouselExampleCaptions {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 2em;
    margin-bottom: 2em;
}

.carousel-inner {
    width: 80%;
    margin: auto;
}

.carousel-caption {
    font-size: 1em;
    font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
    color: #5b5b5b;
}

/* Caption adjusment unused
.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
}
*/

/* Table styles */
#book-table {
    width: 100%;
    font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
    font-size: 1.25em;
    color: #5b5b5b;
}

th {
    padding-top: 0.5em;
    padding-bottom: 0.1em;
    font-size: 1.33em;
}

td {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 0.5em;
}

.grey-row {
    background-color: #f6f5f3;
}

.first-cell {
    padding-left: 0.5em;
    width: 25%;
}

.second-cell {
    width: 20%;
}

/* Hyperlink formatting for table */

table a, p a {
    text-decoration: underline;
    color: #5b5b5b;
}

table a:hover, p a:hover {
    color: #e0c898;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 8; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

.modal-header {
    padding: 2px 16px;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    background-color: #e0c898;
    color: white;
    text-decoration: none;
    margin-bottom: 0.5em;
}

.modal-header h2 {
    text-decoration: none;
}

.modal-body {padding: 2px 16px;}

/* Modal Content/Box */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    max-width: 720px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    padding-bottom: 1.25em;
}

/* The Close Button */
.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Dark mode buttons */
.cta-btn-lrg {
    background-color: #e0c898;
    color: #fff;
    border-radius: 0.25rem;
    border: 2px solid white;
    padding: 0.375rem 0.75rem 0.375rem 0.75rem;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: center;
    float: right;
}

.cta-btn-lrg:hover {
    background-color: #98b0e0;
}

/* Hide nav button if display is too small */
@media only screen and (max-width: 574px)
{
    .cta-btn-lrg {
        display: none ;
    }
}

/* Dark mode change */
.dark-mode-text {

    color: white;
}

.dark-mode-header {
    background-color: #6a7b9c !important;
}

.dark-mode-bg {
    background-color: #98b0e0;
    border: none;
    box-shadow: none;
}

.dark-mode-btn {
    background-color: #363e4f;
}

.dark-mode-btn:hover {
    background-color: #55607a;
}

.dark-mode-img {
    filter: opacity(80%) brightness(90%);
}

.dark-mode-footer {
    background-color: #363e4f;
}

.dark-mode-row {
    background-color: #8ca0c9;
}